.header-location {
  font-family: 'Roboto Mono', monospace;
  font-size: 3rem;
  padding: .2rem;
  margin: 0 auto; }

.font-large {
  font-size: 3rem; }

.font-medium {
  font-size: 2rem; }

.font-small {
  font-size: 1.5rem; }

body {
  height: 100vh;
  background: linear-gradient(to bottom right, #feffbe, #fff400); }

.container {
  padding: 10px;
  height: 800px;
  display: flex;
  flex-direction: column;
  align-items: center; }

.item {
  padding: 30px;
  margin: 5px;
  color: black;
  font-family: 'Manrope', sans-serif;
  font-weight: bold; }

.i1, .i2, .i3, .i4, .i5 {
  width: auto; }

.container-two, .container-three {
  display: flex;
  flex-direction: row;
  align-items: center; }
