.header-location {
    font-family: 'Roboto Mono', monospace;
    font-size: 3rem;
    padding: .2rem;
    margin: 0 auto;
}

.font-large {
    font-size: 3rem;
}

.font-medium {
    font-size: 2rem;
}

.font-small {
    font-size: 1.5rem;
}