@import "typography";

body {
  height: 100vh;
  background: linear-gradient(to bottom right, #feffbe, #fff400); 
}

.container {
  padding: 10px;
  height: 800px;
  display: flex;
  flex-direction: column;

  align-items: center;
}


.item {
  padding: 30px;
  margin: 5px; 
  color: black;
  font-family: 'Manrope', sans-serif;
  font-weight: bold;
}


.i1, .i2, .i3, .i4, .i5 {
  width: auto;
}

.container-two, .container-three {
  display: flex;
  flex-direction: row;
  align-items: center;
}